.instant-search
{
    position: relative;
    
    
    
}
.instant-search,
.instant-search__input
{
    width: 100%;
    font-family: Kanit;
    font-weight: 500;
    color:white;
    font-size: 16px;
}
.instant-search,
.instant-search *
{
    transition: background 0.15s, box-shadow 0.15s;
}
.instant-search:focus-within
{
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.instant-search--loading::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: white;
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;

}
@keyframes searchIndicator
{
    0%
    {
        width: 15%;
    }
    50%
    {
        width: 100%;
    }
    100%
    {
        width: 15%;
    }
}
.instant-search__input::placeholder
{
    opacity: 0.5;
    font-style: italic;
    font-family: Kanit;
    font-weight: 500;
    color: white;
    font-size: 16px;
    
}
.instant-search,
.instant-search__input-container
{
    width: 450px;
    border-radius: 10px;
   
}
.instant-search__input-container
{
    display: inline-flex;
    box-sizing: border-box;
    padding: 6px;
    background: #4c0080;
    
}
#search-icon-btn
{
    outline: none;
    border: none;
    border-radius: 50%;
    color: transparent;
    background:transparent;
   
}
#search-icon-btn:hover
{
    transform: scale(1.1);
    transition: 0.2s;
    
    cursor: pointer;
}
.instant-search__input-container:focus-within
{
    
    background: #45086e;
}
.instant-search__input
{
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 6px;
    background: transparent;
}
.instant-search__icon
{
    color: white;
    font-size: 48px;
}
.instant-search__results-container
{
    max-height: 500px;
    width: fit-content;
    border: none;
    /* visibility: hidden;
    opacity: 0; */
    transition: visibility 0.1s, opacity 0.1s;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.397);
    
    
    
}
.instant-search__results-container--visible
{
    visibility: visible;
    opacity: 1;
}
.instant-search__result,
.instant-search__individual-container
{
    
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 0.8em;
    cursor: pointer;
    background: #0d0d0d;
    width: 438px;
    height: 80px;
    
}
.instant-search__individual-container
{
    position: relative;
    
}
.instant-search__results-container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: transparent;
    
}

.instant-search__results-container::-webkit-scrollbar
{ 
	width: 6px;
	background-color: transparent;
}

.instant-search__results-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.377);
    
    
    
}
.instant-search__individual-container:hover
{
    transform: scale(1.005);
    transition: .3s;
    background: black;
}
.instant-search__result:not(:last-of-type)
{
    border-bottom: 1px solid black;
}
.instant-search__thumbnail-icon > img
{
    padding: 0 15px 0 0;
    width: 60px;
    height:80px;
    float: left;
    
}
.instant-search__synopsis
{
    position: absolute;
    top: 30px;
    right: 150px;
    padding: 0 10px 0 0;
}


.instant-search__title-username
{
    height: 20px;
    width: 150px;
    font-size: 1.7em;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    right: 225px;
    
}

.instant-search__synopsis-header,
.instant-search__average-score-header,
.instant-search__user-score-header
{
    
    line-height: 1.5;
    margin: 0;
    font-weight: bold;
    
    
}


.instant-search__synopsis-body
{
    font-size: 0.7em;
    line-height: 1;
    overflow: hidden;
    width: 200px;
    height: 14px;
    margin: 0;

}
.instant-search__average-score-value
{
    position: absolute;
    padding: 0 10px 0 0;
    white-space: nowrap;
    text-align: right;
    left: 385px;
}

.instant-search__user-score-value
{
    position: absolute;
    padding: 0 10px 0 0;
    white-space: nowrap;
    left:410px;
    top: 50px;
}
.instant-search__average-score-value
{
    position: absolute;
    padding: 0 10px 0 0;
    white-space: nowrap;
    left:410px;
    top: 10px;
    
}

.instant-search__title-username,
.instant-search__synopsis
{
    text-align: left;
    
}

.instant-search__average-score-header
{
    position: absolute;
    padding: 0 10px 0 0;
    white-space: nowrap;
    text-align: right;
    left: 385px;
}

.instant-search__user-score-header
{
    position: absolute;
    padding: 0 10px 0 0;
    white-space: nowrap;
    text-align: right;
    left: 385px;
    top: 40px;
}
.instant-search__genre-header
{
    position: absolute;
    right: 190px;
    top: 25px;
    
    
    
}
.instant-search__genre-list
{
    font-size: .7em;
    position: absolute;
    top: 30px;
    left: 25px;
    height: 14px;
    width: 150px;
    overflow: hidden;
    display: inline;
}



