
.top-weekly-series__container
{
    position: relative;
    background: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    top: 200px;
    left: 100px;
    height: 400px;
    width: 1000px;
}
.carousel-indicators
{
    position: absolute;
}
.carousel-indicators > li
{
    position: relative;
    display: inline;
}

.top-weekly-series__series
{
    position: absolute;
    
    
}

.top-weekly-series__series > img
{
    position: relative;
    border-radius: 10px;
    width: 240px;
    height: 340px;
}