/* INSTANT SEARCH BAR */
.instant-search
{
    position: absolute;
    left: 725px;
    bottom: 80px;
    
}


.instant-search,
.instant-search__input
{
    
    font-family: Kanit;
    font-weight: 500;
    color:white;
    font-size: 16px;
}
.instant-search,
.instant-search *
{
    transition: background 0.15s, box-shadow 0.15s;
}
.instant-search:focus-within
{
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.instant-search--loading::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: white;
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;

}
@keyframes searchIndicator
{
    0%
    {
        width: 15%;
    }
    50%
    {
        width: 100%;
    }
    100%
    {
        width: 15%;
    }
}
.instant-search__input::placeholder
{
    opacity: 0.5;
    font-style: italic;
    font-family: Kanit;
    font-weight: 500;
    color: white;
    font-size: 16px;
    
}

.instant-search
{
    width: 450px;
    border-radius: 10px;
   
}
.instant-search__input-container
{
    position: relative;
    top: -5px;
    /* should expand through js */
    width: 450px;
    
    display: inline-flex;
    box-sizing: border-box;
    padding: 6px;
    background: #45086e;
    border-radius: 10px;
    bottom: 62px;
    
}
.instant-search__input
{
    position: absolute;
    top:20px;
    

    /* should expand through js */
    width: 450px;
}
#search-icon-btn
{
    position: relative;
    left: 390px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: transparent;
    background:transparent;
   
}
#search-icon-btn:hover
{
    transform: scale(1.1);
    transition: 0.2s;
    
    cursor: pointer;
}
.instant-search__input-container:focus-within
{
    background: #3d0066;
    
}
.instant-search__input
{
    /* flex-grow: 1; */
    border: none;
    outline: none;
    padding: 0 6px;
    background: transparent;
}
.instant-search__icon
{
    color: white;
    font-size: 48px;
}
.instant-search__results-container
{
    position: absolute; 
    top: 64px;
    max-height: 500px;
    width: fit-content;
    border: none;
    /* comment out next 2 lines to see the results container */
    /* visibility: hidden;
    opacity: 0; */
    transition: visibility 0.1s, opacity 0.1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.397);
    
    
    
}
.instant-search__results-container--visible
{
    visibility: visible;
    opacity: 1;
}
.instant-search__result,
.instant-search__individual-container
{
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 0.8em;
    cursor: pointer;
    background: #0d0d0d;
    width: 438px;
    height: 80px;
    
}
.instant-search__individual-container
{
    position: relative;
    
}
.instant-search__results-container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: transparent;
    
}

.instant-search__results-container::-webkit-scrollbar
{ 
	width: 6px;
	background-color: transparent;
}

.instant-search__results-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.377);
    
    
    
}
.instant-search__individual-container:hover
{
    background: black;
    transform: scale(1.01);
    transition: .3s;
}

.instant-search__result:not(:last-of-type)
{
    border-bottom: 1px solid black;
}
.instant-search__thumbnail-icon > img
{
    position: absolute;
    width: 65px;
    height:80px;
    float: left;
    
}
.col 
{
    display: inline;
}
.instant-search__title-username
{
    position: absolute;
    font-size: 1.5em;
    left: 55px;
    font-weight: bold;
}
.instant-search__synopsis
{
    position: absolute;
    left: 80px;
    padding: 0;
    margin: 0;
    top: 30px;
}
.instant-search__synopsis-header
{
    font-weight: bold;
    position: absolute;
    top: -5px;
    margin: 0;
}
.instant-search__synopsis-body
{
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 80%;
    top: 10px;
    width: 280px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instant-search__scores
{
    position: absolute;
    left: 380px;
    margin: 0;
    padding: 0;
    
}
.instant-search__average-score-header,
.instant-search__user-score-header
{

    margin: 0 0 3px 0;
}
.instant-search__user-score-header
{
    text-align: right;
    position: absolute;
    top: 35px;
    left: 5px;
}
.instant-search__average-score-header
{
    position: absolute;
    left: 8px;
}
.instant-search__user-score-value
{
    position: absolute;
    top: 55px;
    left: 20px;
    
}
.instant-search__average-score-value
{
    position: absolute;
    top: 18px;
    left: 20px;

}
.instant-search__genre
{
    position: relative;
}
.instant-search__genre-header
{
    position: absolute;
    top: 38px;
    right: 5px;
}
.instant-search__genre-list
{
    position: absolute;
    width: 250px;
    top: 38px;
    left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
